@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
  scroll-padding-top: 100px; /* Adjust to match your navbar height */
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #ffffff70, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)!important;
}

.borderBlack {
  @apply border border-black/10;
}

.scroll-offset {
  padding-top: 100px; /* Adjust this to match the height of your navbar */
  margin-top: -100px;
}

/* Left-aligned dates for larger screens */
@media (min-width: 640px) {
  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(odd)
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    font-size: 1rem;
    left: 128%;
    text-align: left;
  }
  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left)
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    right: 128% !important;
    text-align: right;
  }
}
